.card {
  background-color: #5b31a9;
  padding: 12px;
  width: 220.62px;
  height: 171px;
  border-radius: 12px;
  transform: skewX(170deg);
}
.container {
  transform: skewX(-170deg);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  width: 97px;
  margin-bottom: 4px;
  color: white;
  /* or 150% */
}
.taskToday {
  width: 194px;
  height: 50px;

  /* Text invert/secondary color */

  background: #f2f2f2;
  border-radius: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Text/secondary color */

  color: #787878;
  padding-left: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.dayText {
  padding-left: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Text/secondary color */

  color: #787878;
}

.moreInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  gap: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.notifDay {
  position: relative;
  left: 173px;
  top: -30px;
  background: #5e36ab;
  border-radius: 32px;
  width: 59px;
  height: 59px;
  border: 6px solid #6a39c7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  flex-direction: column;
  color: white !important;
}

.dayTextNot {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;

  /* Text/secondary color */

  color: white;
}
.cms {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.lockPos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}
