.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px 40px 0px 24px;
}
.count_projects {
  background: #8c64d8;
  border-radius: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  padding: 2px;
  color: #f2f2f2;
}
.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  display: flex;
  gap: 8px;
  align-items: center;
  color: #000000;
}
.input {
  outline: none;
  border-style: none;
  background-color: #00000000;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: black;
}
.search {
  display: flex;
  gap: 12px;
}
