.card {
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  height: 92px;
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
  gap: 8px;
}

.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  color: #000000;
}

.status {
  padding: 0px 8px 2px;
  border-radius: 666px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.emptyCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 12px;
  gap: 8px;

  width: 187px;
  height: 92px;

  background: #5b31a9;
  border: 1px dashed rgba(255, 255, 255, 0.24);
  border-radius: 8px;
}
